@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
    color: #373737;
    text-decoration: none;
}

body{
    background-color: #f3f3f3;
    font-family: 'poppins';
}

header{
    background-color: white;
    box-shadow: 0 -5px 10px 1px black;
    padding: 20px 0px;
    margin-bottom: 40px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 3rem;
    font-weight: bold;
}

header h1::selection{
    background-color: #e85649;
    color: white;
}

header h1:hover{
    cursor: pointer;
}

.btn_primary{
    background-color: #ff6f61;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    transition: all 300ms;
}

.btn_primary:hover{
    background-color: #e85649;
    text-decoration: underline;
}

header nav{
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
}


header .navigation a{
    color: black;
    transition: all 300ms;
}

header .navigation a:hover{
    color: #ff6f61;
    text-decoration: underline;
}

header .navigation a::selection{
    background-color: #e85649;
    color: white;
}

header .navigation a:active{
    color: #e85649;
}

header .container{
    width: 80%;
    margin: 0px auto;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6f61;
}

.container_main{
    border: 4px solid white;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 80.4vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    border: 0 0 20px 10px black;
}

.information{
    width: 50%;
    height: 100%;
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.information h2{
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: bold;
}

.information h3{
    margin-top: 10px;
    color: black;
}

.information label{
    margin-top: 20px;
    align-self: flex-start;

}

.information input[type='text'], .information input[type='password']{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 100%;
    outline: none;
    box-sizing: border-box; 
    margin-top: 10px;
}

.information a{
    color: black;
    font-size: 0.8rem;
    align-self: end;
    text-decoration: underline;
    margin-top: 5px;
}

.information .send_button{
    padding: 10px 100px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: none;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    transition-duration: 300ms;
    margin-bottom: 10px;
}

.information .send_button:hover{
    background-color: #e85649;
    text-decoration: underline;
}

.information .create_account_button{
    padding: 10px 60px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: 1px solid #ff6F61;
    background-color: #fff;
    color: #ff6f61;
    cursor: pointer;
    transition-duration: 300ms;
    margin-top: auto;
    margin-bottom: 20px;
    box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.13);
    align-self: center;
}

.div_see_password{
    display: flex;
    flex-direction: row-reverse;
    align-items:self-end;
    gap: 0.3vw;
}

.div_see_password input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0;
}

.div_see_password input:hover{
    border-color: #ff6F61;
}

.div_see_password input:checked{
    background-color: #ff6f61;
}